Source: liblarch
Priority: optional
Maintainer: Izidor Matušov <izidor.matusov@gmail.com>
Build-Depends:
	debhelper (>= 10~),
	dh-python,
	python3-all,
	python3-setuptools,
# Needed for running the test suite:
	python3-nose,
	python3-gi,
	gir1.2-gtk-3.0,
	xvfb,
	xauth,
Standards-Version: 4.5.0
Section: python
Homepage: https://github.com/getting-things-gnome/liblarch

Package: python3-liblarch
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3-gi, gir1.2-gtk-3.0
Description: Python library to easily handle complex data structures
 Liblarch is a Python library built to easily handle data structures
 such as lists, trees and directed acyclic graphs and represent them
 as a GTK TreeWidget or in other forms.
