Source: liblarch
Priority: optional
Maintainer: Izidor Matušov <izidor.matusov@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Build-Depends-Indep: python-support, python (>= 2.5)
Standards-Version: 3.9.2
Section: python
Homepage: https://live.gnome.org/liblarch/

Package: python-liblarch
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-gtk2 (>=2.14)
Replaces: python-liblarch-gtk
Description: Liblarch handles structures like acyclic directed graphs.
  Liblarch is a python library built to easily handle data structures
  such as lists, trees and directed acyclic graphs and represent them
  as GTK TreeWidget or in other forms.
