#!/usr/bin/make -f

export PYBUILD_NAME = liblarch

%:
	dh $@ --with python3 --buildsystem=pybuild

# Use Xvfb to run tests without requiring an actual X server
# (We need to check $DEB_BUILD_OPTIONS ourselves until Debhelper 13+)
override_dh_auto_test:
ifeq (,$(filter nocheck, $(DEB_BUILD_OPTIONS)))
	xvfb-run dh_auto_test
endif
