#!/usr/bin/make -f

export PYBUILD_NAME = liblarch

# Disable running tests (for the moment): Testing will fail if no valid
# $DISPLAY is available, which is usually the case within a build chroot
export PYBUILD_DISABLE=test

%:
	dh $@ --with python3 --buildsystem=pybuild
